[submodule "brkga_mp_ipr_cpp"]
	path = brkga_mp_ipr_cpp
	url = https://github.com/afkummer/brkga_mp_ipr_cpp.git
[submodule "gecco2020-brkga"]
	path = gecco2020-brkga
	url = https://github.com/afkummer/gecco2020-brkga.git
